<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/gallery">gallery</a>
    </div>
    <div class="title about">
      <h1>about</h1>
      <p>
        <em>"i dont even like drinking" - pete</em>
      </p>
    </div>
    <div class="content">
      <img class="img-about" src="images/pete.png" />
      <p>
        If you don't know Pete, you're living under a rock. Pete has extensive experience
        in many industries including - but not limited to - software, marketing, and... entertainment?
        Yes, that's right. In the matter of one night, Pete is now equally as skilled as the industy's top
        performers. Right, Victoria?
      </p>
    </div>
  </body>
</html>
