<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/gallery">gallery</a>
    </div>
    <div class="title">
      <h2>a night to remember...(or not)</h2>
    </div>
    <div class="gallery">
      <div class="img"><img src="https://media.giphy.com/media/3ofSBxVEr72ubhjapO/giphy.gif" /></div>
      <div class="img"><img src="https://media.giphy.com/media/MS3XuWjQV1FiU/giphy.gif" /></div>
      <div class="img"><img src="https://media.giphy.com/media/zsLloEs8InxD2/giphy.gif" /></div>
    </div>
  </body>
</html>
