<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/gallery">gallery</a>
    </div>
    <div class="title home">
      <h1>pete</h1>
      <p>
        <em>cuz no one rly knows his last name</em>
      </p>
      <img src="images/pete.png" />
    </div>
  </body>
</html>
